# Dependencies
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Databases
db.sqlite3
*.db

# Celery
celerybeat-schedule
celerybeat-schedule.db

# Static files (collected)
staticfiles/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
